<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
</head>
<body style="background-image:url('https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/51138577_748130862246943_1257003006163943424_n.png?_nc_cat=109&_nc_ht=scontent-waw1-1.xx&oh=1637c545b765ffce3320e72f1dc9d9e6&oe=5CC16CD9')">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Activity Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_UserPanel")

            }
            <div class="container body-content">
                @RenderBody()
            </div>
            <div class="footer navbar-fixed-bottom">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Activity Tracker</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .footer {
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 60px;
    }
</style>