<style>
    #sidebar {
        padding: 15px;
        margin-top: 10px;
        height:100%;
    }
</style>
<div class="col-xs-5 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar-nav">
        <ul class="nav">
            <li class="active">@Html.ActionLink("Profile", "Index","User")</li>
            <li>@Html.ActionLink("Manage", "Index","Manage")</li>
            <li>@Html.ActionLink("Add Workout", "AddWorkout","User")</li>
            <li>@Html.ActionLink("History", "History","User")</li>
            <li>@Html.ActionLink("Goal", "Settings","User")</li>

        </ul>
    </div>
</div>
@*<div class="col-xs-12 col-sm-9">
    <br>
    <div class="jumbotron">
        <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
        <h1>Hello, world!</h1>
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Heading</h2>
            <p>
                Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                friendly HTML, CSS and Javascript.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Heading</h2>
            <p>
                Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to
                facilitate responsive Web design.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <!--/span-->

        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Heading</h2>
            <p>
                Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                friendly HTML, CSS and Javascript.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Heading</h2>
            <p>
                Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                friendly HTML, CSS and Javascript.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/span-->*@
