<style>
    #sidebar {
        padding: 0;
        height: 622px;
        background-color: rgba(192,192,192,0.3);
    }
    .sidebar-nav > .nav > li:first-child {
        padding-top: 15px;
        font-size: 26px;
        color: black !important;
    }
    .sidebar-nav > .nav > li {
        padding: 0;
        font-size: 26px;
        color: black !important;
    }

    .sidebar-nav> .nav> li > a{
        padding: 15px;
        font-size: 26px;
        color: black !important;
    }

    .sidebar-nav > .nav > li > a:hover {
        background-color: grey;
    }
    
</style>
<div class="col-xs-5 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar-nav">
        <ul class="nav">
            <li>@Html.ActionLink("Profile", "Index","User")</li>
            <li>@Html.ActionLink("Manage", "Index","Manage")</li>
            <li>@Html.ActionLink("Add Workout", "AddWorkout","User")</li>
            <li>@Html.ActionLink("History", "History","User")</li>
            <li>@Html.ActionLink("Summary", "Summary","User")</li>

        </ul>
    </div>
</div>
