@model ActivityTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
        <dt>User Name:</dt>
        <dd>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </dd>
        <dt>Birth Date:</dt>
        <dd>
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
        </dd>
    </dl>
</div>
